<div id="wrapper">

      <div id="container">

        <header>
          <h1>Aprenda artes marciais em Brasília</h1>
          <h2>Fundada pelo <b>Sensei Jackson</b> (7º Dan), a <b>Academia Uruma-Kan</b> vem ensinando, desde 1971, a arte de ensinar a arte marcial.</h2>
        </header><!-- end .header -->

        <div class="content">
          <div class="intro">
          
            <div class="logo">
              <img src="images/logo-urumakan@2x.png" width="324" height="321" alt="Logo Uruma-Kan Jack's Sports" />
            </div>

            <div class="about">
              <p>Pioneiro da tradicional arte marcial em Brasília, revolucionou o ensino da técnica ao adaptá-la para as crianças.</p>
              <p>Além de estar no hall dos mais tradicionais e antigos da cidade, o sensei Jackson Pereira tem a felicidade de dizer que foi o precursor da modalidade entre crianças, algo praticamente inexistente até a década de 1980 no Brasil.</p>
              <p>Hoje em dia a Academia Uruma-Kan é caracterizada por esse pioneirismo no Distrito Federal. Suas atividades são dirigidas de forma bem planejada, de modo a satisfazer um grande público compreendido entre os 4, 40, 50 e até 60 anos.</p>
            </div>

            <div class="quote">
              <p class="quote2">A vida é uma luta,<br> e para viver, é preciso<br> aprender a lutar.</p>
              <p class="author">Sensei Jackson</p>
            </div>

          </div><!-- end .intro -->

          <div class="photos">
            <img src="images/mosaico.png" width="940" height="460" alt="Academia Uruma-Kan" />
          </div>

          <div class="modalidades">
            <div class="karate-do">
              <h1>Karate-Do</h1>
              <p>Uma arte marcial antes praticada secretamente na Ilha de Okinawa, sul do Japão, por pessoas comuns que estavam proibidas de portar armas, e por isso se defendiam de mãos vazias, fazendo uso destas, dos cotovelos, joelhos e pés.</p>
            </div>

            <div class="kobudo">
              <h1>Kobudo</h1>
              <p>O Kobudo é formado por uma grande quantidade de estilos, que ensinam as técnicas das diversas armas utilizadas pelos Samurais, como por exemplo o Kenjutsu (técnicas com espada), Jojutsu (técnica com bastão), Naginatajutsu (alabarda), entrem muitos outros.</p>
            </div>

            <div class="goshin-jitsu">
              <h1>Goshin Jitsu</h1>
              <p>Conhecido como Defesa Pessoal, o praticante conhecerá várias situações em que poderá ser agredido e aprenderá a defender-se. Seu objetivo é de garantir a integridade física e moral das pessoas contra possíveis agressões injustas. o Goshin Jitsu é a mais antiga e perfeita arte científica de De­fesa Pessoal.</p>
            </div>
          </div><!-- end .modalidades -->

          <div class="about-sensei-jackson">
            <div class="sensei-photo">
              <img src="images/sensei-jackson@2x.jpg" width="220" height="286" alt="Sensei Jackson" />
            </div>
            <div class="sensei-history">
              <h2>Sensei Jackson Pereira</h2>
              <p>Na década de 1960, o futuro sensei Jackson era apenas um funcionário do Hotel Nacional. Com a graça de Deus o mestre Takeo Hiyane cruzou o seu caminho e a partir daí sua vida tomou outro rumo. O japonês liderava em Brasília um grupo de karatecas e foi ao hotel oferecer serviços de massagista, usando técnias de Karatê. Jackson o ajudou, ele conseguiu a vaga, fez sucesso entre os hóspedes, e então, decidiu retribuir: passar a ensinar Karatê a Jackson.</p>
              <p>Após a primeira aula, o mestre perguntou se Jackson havia gostado. Ele disse que não, que não poderia fazer uma arte com a qual poderia chegar com o rosto machucado para trabalhar. Então, Takeo Hiyane disse que ensinaria ele apenas a defender-se. Com o tempo, Jackson tomou gosto pela coisa. Após deixar o emprego no hotel, Jackson foi para a academia de Takeo.</p>
              <p>Nos anos de 1980, Takeo decidiu voltar para o Japão e deixar a academia sob responsabilidade de Jackson. Hoje ele não é só responsável pelo trabalho na academia da Asa Norte, mas também faz trabalhos com o governo em escolas, comunidades carente e ainda tem franquias em várias academias da cidade.</p>
            </div>
          </div>

          <div class="call-to-action">
            <h1>Quer se tornar um mestre em arte marcial? <b>Agende uma aula experimental.</b></h1>
            <a class="button-book-class" href="mailto:contato@academiaurumakan.com.br">AGENDAR AULA</a>
          </div>

        </div><!-- end .content -->

        <footer>
          <div class="address">
            <p>SCLN 115/116, Bloco C, Subsolo<br>
            Asa Norte, Brasília-DF<br>
            (61) 3273-2552 / 9921-1636 / 9169-7020<br>
            <a href="mailto:contato@academiaurumakan.com.br">contato@academiaurumakan.com.br</a></p>
          </div>

          <div class="timetable">
            <h2>Horário dos Treinos:</h2>
            <ul>
              <li>Treinos de Segunda a Sábado</li>
              <li>6h às 22h</li>
              <li>Diurno e Noturno</li>
              <li>Feminino e Masculino</li>
            </ul>
          </div>

          <div class="instructors">
            <h2>Professores:</h2>
            <ul>
              <li>Shihan Jackson - 7º Dan</li>
              <li>Sensei Jeison - 5º Dan</li>
              <li>Sensei JRambel - 3º Dan</li>
              <li>Prof. Jackyen - 1º Dan</li>
            </ul>
          </div>

          <div class="contact">
            <ul>
              <li><a href="mailto:contato@academiaurumakan.com.br">Email</a></li>
              <li><a href="https://www.facebook.com/jrambel">Facebook</a></li>
          </div>

        </footer><!-- end footer -->

      </div><!-- end .container -->

    </div><!-- end .wrapper -->